*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
  
body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) ,url('../css/images/background.jpg');
     
    
  
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
  
.logo{
    width: 120px;
    cursor: pointer;
}
  
  
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    
}
  
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
  
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #219ebc;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
  
.navbar ul li :hover:after{
  
    width: 100%;
  
}

.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{

    background: #fff;
    display: flex;


}

.contact-left{
    flex-basis: 60%;
    padding: 60px 60px;
}


.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #219ebc;
    color: #fff;
}


h1{
    margin-bottom: 10px;
    color: aliceblue;
}
h3{
    margin-bottom: 20px;
}

.container p{
    margin-bottom: 40px;
    color: white;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;


}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid#ccc;
    outline: none;
    padding-bottom: 5px;
}


textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;

}

label{
    margin-bottom: 6px;
    display: block;
    color: #219ebc;
}

button{
    background: #219ebc;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
    cursor: pointer;
}

.contact-left h3{
    color: #219ebc;
    font-family: 600;
    margin-bottom: 30px;
}


.contact-right h3{

    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right:20px ;

}

tr td{
    padding-top: 20px;
}
